* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
    border-radius: 20px;
}

.header {
    padding: 20px;
    font-family: "Helvetica Neue",Helvetica,Arial;
    background-color: lavender;
}

.header div {
    padding: 30px;
    margin-right: 20px;
    float: right;
    font-family: "Helvetica Neue",Helvetica,Arial;
    font-size: 24px;
}

.header div ul {
    list-style-type: none;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: black;
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .item {
    height: 40px;
    margin-bottom: 10px;
  }

  .welcome h2, h3 {
    font-family: "Helvetica Neue",Helvetica,Arial;
    margin-left: 275px;
    position: absolute;
    top: 35%;
  }

  h3 {
      font-size: smaller;
      position: absolute;
      top: 40%;
  }
  .welcome,.aboutme, .work, .resume, .contact{
    width: 1280px;
    max-width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    margin: 25px auto 0;
    padding: 40px;
    font: "Helvetica Neue",Helvetica,Arial;
  }

  .float-right {
    float: right;
    margin-right: 380px;
    max-height: 350px;
    border-radius: 20%;
}