* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
    border-radius: 20px;
}

p {
    font-size: 16px;
    font-family: "Helvetica Neue",Helvetica,Arial;
}

.header {
    padding: 20px;
    font-family: "Helvetica Neue",Helvetica,Arial;
    background-color: lavender;
}

.header div {
    padding: 30px;
    margin-right: 20px;
    float: right;
    font-family: "Helvetica Neue",Helvetica,Arial;
    font-size: 24px;
}

.header div ul {
    list-style-type: none;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: black;
    text-decoration: none;
}

.hero img {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url ("Assets/images/background img.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
}  

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #welcome {
    width: 1280px;
    max-width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    margin: 60px  0 50px 0;
    padding: 40px;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
  }
#intro {
    margin-left: 25px;
    margin-bottom: 200px;
}
  h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    vertical-align: center;
    margin-bottom: 50px;
}
  h3 {
    font-family: 'Montserrat', sans-serif;
      font-size: small;
      position: absolute;
      top: 40%;
  }

 .section-header {
        font-family: 'Montserrat', sans-serif;
        font-size: 80px;
        font-weight: 800;
        letter-spacing: -0.02em;
        text-align: left;
        margin-left: 0px;
        margin-top: 0px;
        position: relative;
        line-height: 0.6em;
        pointer-events: none;
        flex: 1 100%;
    }

    h4 {
    border: 10px;
    vertical-align: center;
    margin: 0;
    padding: 25px;
    font-family: 'Montserrat', sans-serif;
}

.section-one  img {
    display: block;
    margin-left: 500px;
    margin-bottom:100px;
    max-width: 225px;
    border-radius: 10px;
}
#hp  {
    float: right;    
     margin: 0 200px 0 0;
    }

  #aboutme, #work, #contact {
    margin-bottom: 50px;
    padding: 50px;
    height: 300px;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    font-size: 16px;
  }

.mywork {
  flex: 1 0 200px;
  padding: 10px;
  text-align: center;
  border-style: none;
  border-width: 1px;
  float: left;
  font-family:'Montserrat', sans-serif;
  
}
.mywork header {
   display: row;
    padding: 20px;
    background: white;
    color: black;
  }

  #contact{
      margin-top: 300px;
  }

  .verticalLine {
    border-left: thick solid black;
    font-weight: 200; 
  }



.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

h5 {
    font-size: 40px;
    margin-top: 50px;
    font-family:'Montserrat', sans-serif;
}

 #info{
    display: flex;
    justify-content: flex-start;
    padding: 20px;
    list-style: none;
    font-family: "Helvetica Neue",Helvetica,Arial;
    font-weight: bold;
}

.icons img {
    display: inline-block;
    margin-top: 100px;
}

.footer h6 {
    font-size: 20px;
}

body {
    width: 100%;
    min-height: 100%;
}
    